.fixedArea
  position: fixed
  top: 0
  bottom: 0
  right: 0
  width: 50%
  padding: 5vh 5vw
  display: flex
  flex-direction: column
  justify-content: space-between

.fixedArea__logo
  width: 30px
  height: 30px
  margin-bottom: 8vh

.fixedArea__title
  margin-bottom: 3vh

.fixedArea__description
  margin-bottom: 10vh

.fixedArea__actions
  display: flex

.fixedArea__action

  &:first-child
    margin-right: 20px

.fixedArea__qrCode
  margin-bottom: 3vh