.scrollArea
  width: 50%

.scrollArea__screen
  width: 100%
  height: 100vh

  &--first
    background-color: tan

  &--second
    background-color: hotpink

  &--third
    background-color: darkcyan
